image-comparison, image-comparison * {
  box-sizing: border-box;
}

image-comparison {
  position: relative;
  display: inline-block;
  max-width: 100%;
  cursor: ew-resize;
  --current-position: 50%; /* Default starting split */
  overflow: hidden;
}

image-comparison::before, image-comparison::after {
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-repeat: none;
  background-size: cover;
}

image-comparison::before {
  background-image: var(--image1);
  left: 0;

}

image-comparison::after {
  background-image: var(--image2);
  right: 0;
  
  /* Change clip-path polygon dimensions with mouse position */
  clip-path: polygon(var(--current-position) 0%, 100% 0, 100% 100%, var(--current-position) 100%);
}